{% extends "index.html" %}

{% block admin_login %}

<section class="section" style="margin-top: 10%; margin-bottom: 15%;">
	<form action="{{ url_for('admin') }}" method="POST">
		<div class="columns">
			<div class="column is-4 is-offset-4">
				<div class="field">
					<p class="control">
						<input class="input" type="text" name="username" placeholder="Username" autofocus required />
					</p>
				</div>
				<div class="field">
					<p class="control">
						<input class="input" type="password" name="passwd" placeholder="Password" required />
					</p>
				</div>
				<div class="field has-text-centered">
					<button class="button is-info" type="submit">Log In</button>
				</div>
			</div>
		</div>
	</form>
</section>

{% endblock %}