<!doctype html>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>

         <br>
         <select name="options">
            <option value="" disabled="disabled" selected="selected">Please select a name</option>
            <option value="aggregate_economic_activities">Aggregate economic activities</option>
            <option value="aggregate_national_accounts">Aggregate national accounts</option>
            <option value="gva_sectors">GVA sectors</option>
            <option value="gva_time_series">GVA time series</option>
            <option value="household">Household</option>
        </select>
    </form>